body {
    
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 0;
    padding: 0;
}

header {

    background-color: #ede8e8;
    padding: 5px;
    width:90%;
    /* margin:50px 30px; */
    border-radius: 10px;
    text-align: center;
   justify-content: center;
   /* align-items: center; */
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(253, 3, 12, 0.7);
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 20px;


}

.tableau-periodique {
   
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(7, 1fr);
    width: 90%;
    margin: auto;
    margin-top: 50px;
   border-radius: 10px;
   box-shadow: 0 0 20px rgba(253, 3, 12, 0.5);
   box-sizing: border-box;
    /* justify-content: center;*/
    align-items: center;
  
}


.element {

    /* display: flex; */
    border: 1px solid #ccc;
    
    font-weight: bold;

    padding: 10px;
    cursor: pointer;
    width: 40px;
    height: 30px;
    border-radius: 10px;

}

.element:hover {
    background-color: rgba(189, 14, 14, 0.37);
    color: white;
}


.item1{
    grid-column: 1/18;
    /* grid-row: 1; */

} 

.item4,.item12{
    grid-column: 2/13;
}


.item54,.item55,.item56{
    
    grid-row:6/7 ;
}


.item72,.item73, .item74{
    
    grid-row:7/7 ;
}



